*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
.settings/*
target
target/*
.classpath
*.project
test-output
test-output/*
*.settings
*.velocity.log.1
*.log
bin
bin/*
mule.log.*
*.class
app/test/log.txt
log.txt
.idea
**.iml
/build
/node_modules
